@media (max-width: 1199.98px) {
    .about-us__slider__arrow_prev {
        left: 3.4%;
    }

    .about-us__slider__arrow_next {
        right: 3.4%;
    }
}

@media (max-width: 991.98px) {
    .header {
        padding: 40px 0px 85px 0px;
    }

    .header .main-titles__item_welocme {
        margin: 85px 0 20px 0;
    }

    .services-about__item:not(:last-child) {
        margin-bottom: 35px;
    }

    .about-us .welcome-detailed-description__text:not(:last-child) {
        margin-bottom: 35px;
    }
    .about-us__slider__arrow_prev {
        left: 7.4%;
    }

    .about-us__slider__arrow_next {
        right: 7.4%;
    }

    .lastest-work {
        padding: 97px 0 75px 0;
    }

    .post__img-wrapper {
        margin-bottom: 30px;
    }

    .form-block__item {
        margin-bottom: 25px;
    }
}

@media (max-width: 767.98px) {
    .demonstration-lastest-work__link-wrapper {
        padding: 55px 10px 10px 10px;
    }

    .post__data-month-wrapper {
        margin-bottom: 25px;
    }

    .form-block__accompanying-text {
        padding-left: 0px;
    }

    .contact-and-form__submit {
        margin-bottom: 21px;
    }
}

@media (max-width: 575.98px) {
    .lastest-work__nav-link {
        padding: 7px 10px;
    }

    .demonstration-lastest-work__link-wrapper {
        padding: 32% 10px 10px 10px;
    }
}
    