*, *:before , *:after {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:active {
    text-decoration: none;
    color: #fff;
}

button {
    outline: 0 !important;
}


.get {
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 16px;

    padding: 13px 33px;
    margin: 0;
    
    background-color: transparent;
    color: #fff;
    outline: 0 !important;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

ul, li {
    display: block;

    margin: 0px;
    padding: 0px;

    list-style: none;
}

h1, h2, h2, h3, h4, h5 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #555555;
}

h1 {
    font-size: 48px;
    color: #ffffff;
    line-height: 52px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

hr {
    width: 50px;
    height: 2px;
    
    margin: 0 0 23px 0;

    background-color: #555555;
    box-shadow: none;
    border: none;
}

body {
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #555555;
}

/* Стили для header */

.header {
    padding: 40px 0px 260px 0px;

    background:  linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #c9c9c9 url("../img/header-bg.png") no-repeat center;
    background-size: cover;
}

.header .navbar-brand {
    font-size: 0;
}

.header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse {
    transition: all 1s;
}

.header .navbar-nav {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
}

.header .nav-link:hover {
    color: #c7c7c7;
}

.header .nav-link:active {
    color: #a1a1a1;
}

.header .main-titles__item_welocme {
    margin: 251px 0 20px 0;
}

.header .main-titles__item_tagline {
    font-family: 'Roboto Slab', serif;
    color: #fff;

    margin-bottom: 50px;
}

.header .get:hover {
    border: 2px solid #c7c7c7;
    color: #c7c7c7;
}

.header .get:active {
    border: 2px solid #a1a1a1;
    color: #a1a1a1;
}

/* Стили для services */

.services {
    padding: 97px 0 95px 0;
}

.services-welcome__title {
    margin-bottom: 27px;
}

.services-welcome__description {
    margin-bottom: 65px;
}

.services-about {
    font-size: 14px;
    line-height: 24px;
}

.services-about__icon {
    width: 90px;
    height: 90px;

    margin-bottom: 22px;

    border: 2px solid #dddddd;
    border-radius: 50%;
}

.services-about__icon_red {
    background-color: #c0301c;
}

.services-about__icon.icon-font::before {
    font-size: 46px;
    line-height: 80px;
    color: #fff;
}

.services-about__icon.icon-code::before {
    font-size: 46px;
    line-height: 80px;
    color: #c0301c;
}

.services-about__icon.icon-support::before {
    font-size: 49px;
    line-height: 87px;
    color: #c0301c;
}

.services-about__heading {
    margin-bottom: 14px;
}